version: '3.7'

x-node-defaults: &node
  tty: true
  init: true
  image: node:10.15
  entrypoint: ["node"]
  working_dir: /root
  restart: always
  volumes:
    - ./:/root:cached
    - ./node_modules:/root/node_modules:delegated
    - yarn-cache:/.yarn-cache

x-newsletter-command: &newsletter-cmd
  entrypoint: ["node_modules/.bin/basecms-newsletters"]
  command: ["dev", "index.js"]

x-env-defaults: &env
  YARN_CACHE_FOLDER: /.yarn-cache
  NODE_ENV: development
  NEW_RELIC_ENABLED: ${NEW_RELIC_ENABLED-0}
  NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY-(unset)}

x-env-gemenon: &env-gemenon
  GRAPHQL_URI: ${GRAPHQL_URI-https://gemenon.graphql.base-cms.io}

x-env-picon: &env-picon
  GRAPHQL_URI: ${GRAPHQL_URI-https://picon.graphql.base-cms.io}

services:
  terminal:
    <<: *node
    working_dir: /root
    entrypoint: ["/bin/bash"]
    environment:
      <<: *env

  yarn:
    <<: *node
    working_dir: /root
    entrypoint: ["yarn"]
    environment:
      <<: *env

  ecmweb:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/ecmweb
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19400
      LIVERELOAD_PORT: 29400
      TENANT_KEY: ebm_ecmweb
    ports:
      - "19400:80"
      - "29400:29400"

  tdworld:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/tdworld
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19401
      LIVERELOAD_PORT: 29401
      TENANT_KEY: ebm_tdworld
    ports:
      - "19401:80"
      - "29401:29401"

  ewweb:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/ewweb
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19402
      LIVERELOAD_PORT: 29402
      TENANT_KEY: ebm_ewweb
    ports:
      - "19402:80"
      - "29402:29402"

  rermag:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/rermag
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19403
      LIVERELOAD_PORT: 29403
      TENANT_KEY: ebm_rermag
    ports:
      - "19403:80"
      - "29403:29403"

  contractormag:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/contractormag
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19404
      LIVERELOAD_PORT: 29404
      TENANT_KEY: ebm_contractormag
    ports:
      - "19404:80"
      - "29404:29404"

  hpac:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/hpac
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19405
      LIVERELOAD_PORT: 29405
      TENANT_KEY: ebm_hpac
    ports:
      - "19405:80"
      - "29405:29405"

  vspc:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/vspc
    environment:
      <<: *env
      <<: *env-picon
      PORT: 80
      EXPOSED_PORT: 19406
      LIVERELOAD_PORT: 29406
      TENANT_KEY: cygnus_vspc
    ports:
      - "19406:80"
      - "29406:29406"

  asumag:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/asumag
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19407
      LIVERELOAD_PORT: 29407
      TENANT_KEY: ebm_asumag
    ports:
      - "19407:80"
      - "29407:29407"

  contractingbusiness:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/contractingbusiness
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19408
      LIVERELOAD_PORT: 29408
      TENANT_KEY: ebm_contractingbusiness
    ports:
      - "19408:80"
      - "29408:29408"

  electricalmarketing:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/electricalmarketing
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19409
      LIVERELOAD_PORT: 29409
      TENANT_KEY: ebm_electricalmarketing
    ports:
      - "19409:80"
      - "29409:29409"

  trucker:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/trucker
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19410
      LIVERELOAD_PORT: 29410
      TENANT_KEY: ebm_trucker
    ports:
      - "19410:80"
      - "29410:29410"

  electronicdesign:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/electronicdesign
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19411
      LIVERELOAD_PORT: 29411
      TENANT_KEY: ebm_electronicdesign
    ports:
      - "19411:80"
      - "29411:29411"

  fleetowner:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/fleetowner
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19412
      LIVERELOAD_PORT: 29412
      TENANT_KEY: ebm_fleetowner
    ports:
      - "19412:80"
      - "29412:29412"

  hydraulicspneumatics:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/hydraulicspneumatics
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19413
      LIVERELOAD_PORT: 29413
      TENANT_KEY: ebm_hydraulicspneumatics
    ports:
      - "19413:80"
      - "29413:29413"

  mwrf:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/mwrf
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19414
      LIVERELOAD_PORT: 29414
      TENANT_KEY: ebm_mwrf
    ports:
      - "19414:80"
      - "29414:29414"

  newequipment:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/newequipment
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19415
      LIVERELOAD_PORT: 29415
      TENANT_KEY: ebm_newequipment
    ports:
      - "19415:80"
      - "29415:29415"

  sourcetoday:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/sourcetoday
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19416
      LIVERELOAD_PORT: 29416
      TENANT_KEY: ebm_sourcetoday
    ports:
      - "19416:80"
      - "29416:29416"

  machinedesign:
    <<: *node
    <<: *newsletter-cmd
    working_dir: /root/tenants/machinedesign
    environment:
      <<: *env
      <<: *env-gemenon
      PORT: 80
      EXPOSED_PORT: 19417
      LIVERELOAD_PORT: 29417
      TENANT_KEY: ebm_machinedesign
    ports:
      - "19417:80"
      - "29417:29417"

volumes:
  yarn-cache: {}
