$ const { newsletter, date } = data;

<marko-newsletter-root
  title=newsletter.name
  description=newsletter.description
  date=date
>
  <@head>
    <common-style-s-styles />
  </@head>
  <@body style="margin: 0px !important; background-color: #efefef;">
    <common-banner-element
      name=newsletter.name
      date=date
    />
   <tenant-header-block date=date newsletter=newsletter />

    <common-style-a-section-spacer-block />

    <common-style-a-featured-section-wrapper-block section-id=68406 date=date newsletter=newsletter limit=1 title="Top Story" />

    <common-style-a-section-spacer-block />

    <common-style-a-card-section-wrapper-block section-id=68407 date=date newsletter=newsletter title="Highlights" />

    <common-style-a-section-spacer-block />

    <common-style-a-card-section-wrapper-block section-id=68408 date=date newsletter=newsletter title="Announcments" />

    <common-style-a-section-spacer-block />

    <common-style-a-card-section-wrapper-block section-id=68409 date=date newsletter=newsletter title="Sponsored" />

    <common-style-a-section-spacer-block />

    <common-style-a-opt-out-block />

  </@body>
</marko-newsletter-root>
